@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Resource.Error.</h1>
<h2 class="text-danger">@Resource.AnError</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Resource.DevelopmentMode</h3>
<p>
   @Resource.DevErrorTExt1
</p>
<p>
    <strong>@Resource.DevErrorTExt2</strong>
    @Resource.DevErrorTExt3 
</p>
