@model IEnumerable<MyQuickDesk.Entities.Desk>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resource.Desk</h1>

<p>

        
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="create-link">@Resource.CreateNew</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>@Resource.Name</th>
            <th>@Resource.Description</th>
            <th>@Resource.Actions </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="details-link">@Resource.Details</a>
                    
                    @if(User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">@Resource.Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">@Resource.Delete</a>

                    }
                    <a asp-action="Create" asp-controller="Reservation" asp-route-spaceId="@item.Id" class="create-link">@Resource.BookNow</a>

            </td>
        </tr>
}
    </tbody>
</table>
