@model MyQuickDesk.Entities.ParkingSpot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingSpot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Description"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.Description
        </dd>
       <dt class = "col-sm-2">
            <label asp-for="HandicappedSpot"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.HandicappedSpot
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Charger"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.Charger
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="IsAvaiable"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.IsAvaiable
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="back-to-list-btn" asp-action="Index">Back to List</a>
</div>
