@model MyQuickDesk.Entities.ParkingSpot

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resource.Edit</h1>

<h4>@Resource.ParkingSpot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HandicappedSpot" />@Resource.HandicappedSpot
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Charger" /> @Resource.Charger
                </label>
            </div>

            <div class="form-group">
                <label>@Resource.Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAvaiable" /> @Resource.IsAvaiable
                    </label>
            </div>
            <div class="form-group">
                <label>@Resource.Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resource.MaxCapacity</label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value=@Resource.Save class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resource.Back</a>
</div>

