@model IEnumerable<MyQuickDesk.Entities.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Parking Spot</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a href="/Parking/Create" class="create-link">
            <span>Create New</span>
            <img src="~/Icons/Createicon.png" alt="Create Icon" width="20" height="20" style="vertical-align: middle; margin-top: -3px;">
        </a>
    </p>


}
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().IsAvaiable"></label>
            </th>
            <th>
                <label asp-for="First().HandicappedSpot"></label>
            </th>
            <th>
                <label asp-for="First().Charger"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.IsAvaiable
            </td>
            <td>
               @item.HandicappedSpot
            </td>
            <td>
               @item.Charger
            </td>
            <td>
                    <div class="button-container">
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-link">
                            <img src="~/Icons/Detailsicon.png" alt="Details Icon" width="20" height="20">
                            Details
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">
                                <img src="~/Icons/Editicon.png" alt="Edit Icon" width="20" height="20">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">
                                <img src="~/Icons/Deleteicon.png" alt="Delete Icon" width="20" height="20">
                                Delete
                            </a>
                        }
                        <a asp-action="Create" asp-controller="Reservation" asp-route-spaceId="@item.Id" class="create-link">
                            <img src="~/Icons/Reservationicon.png" alt="Reservation Icon" width="20" height="20">
                            Book Now
                        </a>
                    </div>


            </td>
        </tr>
}
    </tbody>
</table>
