@model IEnumerable<MyQuickDesk.Entities.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Parking Spot</h1>

<p>
    <a href="/Parking/Create" class="create-link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().IsAvaiable"></label>
            </th>
            <th>
                <label asp-for="First().HandicappedSpot"></label>
            </th>
            <th>
                <label asp-for="First().Charger"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.IsAvaiable
            </td>
            <td>
               @item.HandicappedSpot
            </td>
            <td>
               @item.Charger
            </td>
            <td>
                    <div class="button-container">
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-link">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Delete</a>
                        <a asp-action="Create" asp-controller="Reservation" asp-route-spaceId="@item.Id" class="create-link">Book Now</a>

                    </div>

            </td>
        </tr>
}
    </tbody>
</table>
