@model IEnumerable<MyQuickDesk.Models.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().PlaceNumber"></label>
            </th>
            <th>
                <label asp-for="First().FloorName"></label>
            </th>
            <th>
                <label asp-for="First().IsAvaible"></label>
            </th>
            <th>
                <label asp-for="First().StartDate"></label>
            </th>
            <th>
                <label asp-for="First().EndDate"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.PlaceNumber
            </td>
            <td>
                @item.FloorName
            </td>
            <td>
                @item.IsAvaible
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.EndDate
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
