@model MyQuickDesk.Entities.Room

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
    }
</style>
<div class="container-main">
    <h1 class="shadow-text row justify-content-center">Create</h1>
    <h4>@Resource.ConferencialRoom</h4>
    <hr />
    <div class="row justify-content-center">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>@Resource.Name></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resource.Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resource.MaxCapacity</label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
                <hr />
            <div class="form-group">
                <input type="submit" value= @Resource.Create class="btn btn-primary" />
            </div>
        </form>
            <div class="d-flex justify-content-center">
                <a class="back-to-list-btn" asp-action="Index" class="back-to-list-btn">@Resource.Back</a>
            </div>
    </div>
</div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
