@model MyQuickDesk.Entities.Room

@{
    ViewData["Title"] = "Delete";
}

<h1>@Resource.Delete</h1>

<h3>@Resource.AreYouSure?</h3>
<div>
    <h4>@Resource.ConferencialRoom</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            <label>@Resource.Name</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label>@Resource.Description</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            <label>@Resource.MaxCapacity</label>
        </dt>
        <dd class="col-sm-10">
            @Model.MaxCapacity
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value=@Resource.Delete class="btn btn-danger" /> |
        <a class="back-to-list-btn" asp-action="Index">@Resource.Back</a>
    </form>
</div>
