@model IEnumerable<MyQuickDesk.Models.Room>

@{
    ViewData["Title"] = "Conference Room";
}

<h1>Conferencial Room</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
               <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            
            <th>
            <label asp-for="First().InteractiveBoard"></label>
            </th>

            <th>
            <label asp-for="First().MaxCapacity"></label>
            </th>
            <th>
                <label asp-for="First().StartDate"></label>
            </th>
            <th>
                <label asp-for="First().EndDate"></label>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.Name
            </td>
            <td>
               @item.Description
            </td>
            
            <td>
                @item.MaxCapacity
            </td>
            <td>
                @item.StartDate.ToString("yyyy-MM-dd hh-mm")
            </td>
            <td>
                @item.EndDate.ToString("yyyy-MM-dd hh-mm")
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
