@model IEnumerable<MyQuickDesk.Entities.Room>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
    }
</style>


<h1 class="shadow-text">@Resource.ConferencialRoom</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="create-link">
            @Resource.CreateNewRoom
            <img src="~/Icons/Createicon.png" alt="Create Icon" width="20" height="20">
        </a>
    </p>
}
<table class="table">
    <thead>
        <tr>

            <th>@Resource.Name</th>
            <th>@Resource.Description</th>
            <th>@Resource.MaxCapacity</th>
            <th>@Resource.Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>           
            <td>
                @item.MaxCapacity
               
            </td>
            
            <td>
                    <div class="button-container">
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-link">
                            <img src="~/Icons/Detailsicon.png" alt="Details Icon" width="20" height="20">
                            @Resource.Details
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">
                                <img src="~/Icons/Editicon.png" alt="Edit Icon" width="20" height="20">
                                @Resource.Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">
                                <img src="~/Icons/Deleteicon.png" alt="Delete Icon" width="20" height="20">
                                @Resource.Delete
                            </a>
                        }
                        <a asp-action="Create" asp-controller="Reservation" asp-route-spaceId="@item.Id" class="create-link">
                            <img src="~/Icons/Reservationicon.png" alt="Reservation Icon" width="20" height="20">
                            @Resource.BookNow
                        </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
