@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["About us"]</h1>
<h2>@Resource.WhatIs</h2>
<p>@Resource.AboutUsText</p>
<p>@Resource.AboutUsText2</p>
<p>@Resource.AboutUsText3</p>
<p> @Resource.AboutUsText4</p>
<p>@Resource.AboutUsText5</p>
