@page
@using Microsoft.AspNetCore.Http.Features
@using MyQuickDesk.Resources;
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = @Resource.AuthenticationText16;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<div class="container-main">
    <partial name="_StatusMessage" for="StatusMessage" />
    <h3 class="shadow-text row justify-content-center">@ViewData["Title"]</h3>
    @{
        var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
        @if (consentFeature?.CanTrack ?? true)
        {
            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>@Resource.AuthenticationText</strong>
                        <p>@Resource.AuthenticationText2 <a asp-page="./GenerateRecoveryCodes"></a>@Resource.AuthenticationText3 </p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>@Resource.AuthenticationText4</strong>
                        <p>@Resource.AuthenticationText5 <a asp-page="./GenerateRecoveryCodes">@Resource.AuthenticationText6</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>@Resource.AuthenticationText2 @Model.RecoveryCodesLeft @Resource.AuthenticationText7</strong>
                        <p>@Resource.AuthenticationText8<a asp-page="./GenerateRecoveryCodes">@Resource.AuthenticationText6</a>.</p>
                    </div>
                }

                if (Model.IsMachineRemembered)
                {
                    <form method="post" style="display: inline-block">
                        <button type="submit" class="btn btn-primary">@Resource.AuthenticationText9 </button>
                    </form>
                }
                <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Resource.AuthenticationText10 </a>
            }

            @if (!Model.HasAuthenticator)
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Resource.AuthenticationText11</a>
            }
            else
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Resource.AuthenticationText12</a>
                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Resource.AuthenticationText13 </a>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <strong>@Resource.AuthenticationText14</strong>
                <p>@Resource.AuthenticationText15</p>
            </div>
        }

    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
