@using Microsoft.AspNetCore.Identity
@model IdentityUser

<h1>@Resource.DeleteUser</h1>

<p>@Resource.AreYouSure @Model.UserName?</p>

<form method="post" action="@Url.Action("DeleteConfirmed", "Admin")">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value=@Resource.YesDelete />
    <a href="@Url.Action("Index", "Admin")">@Resource.TakeBack</a>
    @Html.AntiForgeryToken()
</form>
