@model Microsoft.AspNetCore.Identity.IdentityRole
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
    }
</style>


<div class="container-main">
    <h1 class="shadow-text row justify-content-center">@Resource.DeleteRole</h1>

    <p>@Resource.AreYouSure '@Model.Name'?</p>
    <hr />
    <form asp-action="DeleteRoleConfirmed" asp-controller="Admin" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">
            <img src="~/Icons/Deleteicon.png" alt="Delete Icon" width="20" height="20" v />
            @Resource.YesDelete
        </button>
        <a class="back-to-list-btn" href="@Url.Action("Index", "Admin")">@Resource.TakeBack </a>
    </form>
</div>
