@model MyQuickDesk.Models.AdminPanelModel
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
    }
</style>
<div class="container-main">
    <h1 class="shadow-text row justify-content-center">@Resource.EditUser</h1>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="User.Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" asp-for="User.Email" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="UserName">@Resource.Username</label>
                    <input type="text" asp-for="User.UserName" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="SelectedRoles" style="margin-top: 20px">@Resource.Roles</label>
            <select id="SelectedRoles" name="SelectedRoles" multiple="multiple" class="form-control">
                @foreach (var role in Model.Roles)
                {
                    <option value="@role.Name" selected="@Model.SelectedRoles.Contains(role.Name)">@role.Name</option>
                }
            </select>
        </div>
        <hr />

        <button type="submit" class="btn btn-primary">@Resource.Update</button>
    </form>
</div>
