@model AdminPanelModel

<h1>@Resource.AdminPanel</h1>
<p>
    <a asp-action="Roles" class="create-link">@Resource.Roles</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>@Resource.Email</th>
            <th>@Resource.Username</th>
            <th>@Resource.Roles</th>
            <th>@Resource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in Model.UserRoles[user.Id])
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { id = user.Id })" class="edit-link">@Resource.Edit</a>
                    <a href="@Url.Action("Delete", "Admin", new { id = user.Id })" class="delete-link">@Resource.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
