@model AdminPanelModel

<h1>Admin Panel</h1>
<p>
    <a asp-action="Roles" class="create-link">Roles</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in Model.UserRoles[user.Id])
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { id = user.Id })" class="edit-link">Edit user</a>
                    <a href="@Url.Action("Delete", "Admin", new { id = user.Id })" class="delete-link">Delete user</a>
                </td>
            </tr>
        }
    </tbody>
</table>
