@model MyQuickDesk.Entities.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>@Resource.CreateReservation</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>@Resource.StartTime</label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resource.EndTime</label>
                <input asp-for="EndTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Resource.Name</label>
                <input asp-for="Space.Name" class="form-control" disabled />
            </div>

            <input type="hidden" name="spaceId" value="@ViewBag.SpaceId" />
            <div class="form-group">
                <input type="submit" value=@Resource.Create class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resource.Back</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



