@using Humanizer.Localisation;
@using Microsoft.Extensions.Localization;
@model IEnumerable<MyQuickDesk.Entities.Reservation>



@{
    ViewData["Title"] = "Index";
}

<h1>@Resource.Myreservations</h1>



<table class="table">
    <thead>
        <tr>

            <th>@Resource.StartTime</th>
            <th>@Resource.EndTime</th>
            
            <th>@Resource.Name </th>
            <th>@Resource.Actions </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.StartTime
                </td>
                <td>
                    @item.EndTime
                </td>
                <td>
                    @item.Space.Name
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="details-link">@Resource.Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">@Resource.Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">@Resource.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


