@using Humanizer.Localisation;
@using Microsoft.Extensions.Localization;
@model IEnumerable<MyQuickDesk.Entities.Reservation>



@{
    ViewData["Title"] = "Your Reservations";
}
<style>
    body {
        background-image: url('/img/backgroundtabs.png');
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
    }
</style>

<h1 class="shadow-text">@Resource.Myreservations</h1>



<table class="table">
    <thead>
        <tr>

            <th>@Resource.StartTime</th>
            <th>@Resource.EndTime</th>
            
            <th>@Resource.Name </th>
            <th>@Resource.Actions </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @item.StartTime
            </td>
            <td>
                @item.EndTime
            </td>
            <td>
                    @item.Space.Name
            </td>
            <td>
                    <div class="button-container">
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-link">
                            <img src="~/Icons/Detailsicon.png" alt="Details Icon" width="20" height="20">
                            @Resource.Details
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="edit-link">
                            <img src="~/Icons/Editicon.png" alt="Edit Icon" width="20" height="20">
                            @Resource.Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">
                            <img src="~/Icons/Deleteicon.png" alt="Delete Icon" width="20" height="20">
                            @Resource.Delete
                        </a>
                    </div>

                </td>
        </tr>
}
    </tbody>
</table>


